@model HTActive.Web.Models.ProductPageViewModel
@{
    var productTitle = Model?.ContentProduct;
}
@{
    ViewData["Title"] = productTitle?.ProductPageTitle ?? "Products";
}

<div class="banner">
    <div class="fixed-image section dark-translucent-bg parallax-bg-3">
        <div class="container">
            <div class="space-top"></div>
            <h1>@productTitle?.Title</h1>
            <div class="separator-2"></div>
            <p class="lead">@Html.Raw(productTitle?.Content ?? string.Empty)</p>
        </div>
    </div>
</div>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->

            <div class="main col-md-12">
                <div class="filters">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".f@(HTActive.Common.ProductTypeEnums.Web)">Web</a></li>
                        <li><a href="#" data-filter=".f@(HTActive.Common.ProductTypeEnums.Application)">Mobile Application</a></li>
                        <li><a href="#" data-filter=".f@(HTActive.Common.ProductTypeEnums.Game)">Mobile Game</a></li>
                    </ul>
                </div>
                <!-- isotope filters end -->
                <!-- portfolio items start -->
                <div class="image-boxes isotope-container row">
                    @foreach (var product in Model.Products?.OrderBy(x => x.Priority))
                    {
                        var productLanguage = product.ProductLanguages.OrderByDescending(x => x.Language == (HTActive.Common.SiteLanguageTypeEnums)ViewBag.SiteLanguage).FirstOrDefault();
                    <div class="col-md-3 col-sm-6 isotope-item f@(product?.ProductType)">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="@productLanguage?.ImageSrc" alt="@productLanguage?.ImageAlt">
                            </div>
                            <div class="image-box-body">
                                <h3 class="title"><a href="product-detail/@product?.Id/@productLanguage?.TitleTagForSEO">@productLanguage?.TitleText</a></h3>
                                <p class="cutline">@Html.Raw(productLanguage?.Description ?? string.Empty)</p>
                                <a href="product-detail/@product?.Id/@productLanguage?.TitleTagForSEO" class="link"><span>@productTitle.ButtonReadMore</span></a>
                            </div>
                        </div>
                    </div>

                    }
                </div>
                <!-- portfolio items end -->

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

